<div class="search-bar column">
  <igx-navbar class="navbar">
    <div igxNavbarTitle>My Kanban App</div>
    <igx-icon font="material" [active]="true" class="icon_2">notifications</igx-icon>
    <igx-icon font="material" [active]="true" class="icon_2">mail</igx-icon>
    <igx-icon font="material" [active]="true" class="icon_2">account_circle</igx-icon>
    <igx-icon font="material" [active]="true" class="icon_2">more_vert</igx-icon>
  </igx-navbar>
  <div class="row-layout_1 row">
    <div class="column-layout column">
      <div class="background column">
        <igx-avatar initials="HA" icon="people" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" [roundShape]="false" size="small" class="avatar_1"></igx-avatar>
        <igx-avatar initials="BR" icon="people" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" [roundShape]="false" size="small" class="avatar"></igx-avatar>
        <igx-avatar initials="LT" icon="people" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" [roundShape]="false" size="small" class="avatar"></igx-avatar>
        <igx-avatar initials="WP" icon="people" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" [roundShape]="false" size="small" class="avatar"></igx-avatar>
      </div>
    </div>
    <div class="column-layout_1 column">
      <div class="subheader row">
        <igx-input-group placeholder="Fintech Project" type="search" class="input">
          <igx-prefix>
            <div class="column-layout_2 prefix-container column"></div>
          </igx-prefix>
          <label igxLabel for="inputField">Label</label>
          <input type="Text" name="inputField" [required]="false" [disabled]="false" placeholder="Fintech Project" igxInput />
        </igx-input-group>
        <div class="center column">
          <div class="row-layout_2 row">
            <button igxButton="icon" type="icon" [disabled]="false" class="icon-button">
              <igx-icon class="icon_1">dashboard</igx-icon>
            </button>
            <button igxButton="icon" type="icon" [disabled]="false" class="icon-button">
              <igx-icon class="icon_1">list</igx-icon>
            </button>
          </div>
        </div>
        <div class="right column">
          <div class="row-layout_3 row">
            <p class="project-members">Project Members:</p>
            <igx-avatar initials="YT" icon="people" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
            <igx-avatar initials="BR" icon="people" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
            <button igxButton="icon" type="icon" [disabled]="false" class="icon-button">
              <igx-icon class="icon_1">add</igx-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="search row">
        <div class="left column">
          <div class="row-layout_4 row">
            <p class="label">Select boards to search</p>
            <igx-checkbox labelPosition="after" [checked]="false" [disabled]="false" class="checkbox">All</igx-checkbox>
            <igx-checkbox labelPosition="after" [checked]="false" [disabled]="false" class="checkbox">Active</igx-checkbox>
            <igx-checkbox labelPosition="after" [checked]="false" [disabled]="false" class="checkbox">Archived</igx-checkbox>
            <igx-input-group placeholder="Label/Placeholder" type="search" class="input_1">
              <igx-prefix>
                <div *ngIf="columnlayoutVisible" class="column-layout_2 column">
                  <div class="row-layout_5 row">
                    <div class="row-layout row">
                      <p class="text">prefix</p>
                      <igx-icon font="material" [active]="true" class="icon">contains</igx-icon>
                    </div>
                  </div>
                </div>
              </igx-prefix>
              <label igxLabel for="inputField">Label</label>
              <input type="Text" name="inputField" [required]="false" [disabled]="false" placeholder="Label/Placeholder" igxInput />
            </igx-input-group>
          </div>
        </div>
        <button igxButton="raised" [disabled]="false" class="button">
          <span>Search now</span>
        </button>
      </div>
    </div>
  </div>
</div>
